.root {
  // 根节点自己的样式
  height: 100%;

  :global {

    // 所有子节点的样式，都放在此处，因为是在 global 中，所以，此处的类名不会被 CSSModules 处理
    .ant-layout {
      height: 100%;

      .ant-layout-header {
        padding: 0 8px 0 8px !important;
        background: rgb(255 255 255) !important;
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 5px;
        align-items: center;

        .ant-avatar {
          position: relative;
          overflow: inherit;

          img {
            border-radius: 10px;
          }
        }

        .ant-avatar::after {
          position: absolute;
          content: "";
          bottom: -12px;
          left: 32px;
          rotate: 90deg;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-left: 6px solid rgb(213 213 213);
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
        }

      }
    }
  }
}