.root {
    height: 100%;
    width: 100%;
    display:flex;
    background-image:url('~@/assets/common/login.jpg');
    background-position: center;

    :global {
        .ant-form {
            width: 40vw;
            margin: auto;
        }

        // 所有子节点的样式，都放在此处，因为是在 global 中，所以，此处的类名不会被 CSSModules 处理
    }
}
