.root {
    // 根节点自己的样式

    :global {
        .nav-link {
            display: flex;
            justify-content: space-between;
            // flex-direction: column;
        }

        // 所有子节点的样式，都放在此处，因为是在 global 中，所以，此处的类名不会被 CSSModules 处理
        .active {
            background-color: skyblue;
        }

    }
}